# Data Science Tools and Ecosystem

In this notebook, Data Science tools and Ecosystem are summarized

__Objectives:__
* List popular languages for Data Science
* List popular libraries for Data Science
* List some popular tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. Numpy
4. Matplotlib
5. Seaborn

| Data Science Tools |
|--------------------|
| Jupyter |
| Jupyter Lab |
| Apache Zeppelin |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ganesh Mahadev